name: MLOps CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - [cite_start]name: Unit Tests (Feature Logic) # [cite: 25]
        run: pytest tests/test_features.py

      - [cite_start]name: Build Docker Image # [cite: 25, 43]
        run: |
          docker build -t ad-click-service:latest .
          # Opsiyonel: docker push <registry>/ad-click-service:latest